<a href="https://colab.research.google.com/github/zaidafnan-ai/ai-journey/blob/week-2/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

s = pd.Series([10, 20, 30])
print(s)

0    10
1    20
2    30
dtype: int64

In [2]:
data = {
    'Name': ['Ali', 'Sara', 'Zaid'],
    'Age': [25, 30, 22]
}

df = pd.DataFrame(data)
print(df)

   Name  Age
0   Ali   25
1  Sara   30
2  Zaid   22

In [11]:
import pandas as pd
data = {
    'Name': ['Fatima', 'Zaid', 'Ali', 'Sara'],
    'Score': [90, 85, 75, None],
    'Grade': ['A', 'B', 'B', 'A']
}

df = pd.DataFrame(data)
average_score = df['Score'].mean()
print("Average Score:", average_score)
df['Score'] = df['Score'].fillna(0)
print(df['Score'])
df['BoostedScore'] = df['Score'] + 10
print(df['BoostedScore'])
grade_A_df = df[df['Grade'] == 'A']
print(grade_A_df)

Average Score: 83.33333333333333
0    90.0
1    85.0
2    75.0
3     0.0
Name: Score, dtype: float64
0    100.0
1     95.0
2     85.0
3     10.0
Name: BoostedScore, dtype: float64
     Name  Score Grade  BoostedScore
0  Fatima   90.0     A         100.0
3    Sara    0.0     A          10.0